.box {
    padding: 5px;
}

.gray {
    background: #ddd;
    padding: 5px;
    position: relative;
}

.gray>img {
    padding: 10px;
}

.gray>.checkbox {
    position: absolute;
    left: 5px;
    top: 5px;
}

img {
    width: 100%;
}